/*--------------Configurações gerais-----------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

/*--------------início do cabeçalho--------------*/

.cabecalho {
    height: 300px;
    width: 100%;
}

.logo {
    width: 201px;
    margin-left: -33px;
    cursor: pointer;
}

.logo img {
    margin-right: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
    z-index: 5;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
}

nav ul li a:hover {
    color: #803dff;
    transition: .3s;
}

/*---------------Fim do cabeçalho------------------*/

/*------------início da section apresentação---------*/

.art_apresentacao {
    width: 90vw;
    margin: auto;
}

.art_apresentacao h1 {
    font-size: 140px;
    color: #fff;
    font-weight: 800;
    line-height: 170px;
}

span {
    color: #fff;
    letter-spacing: 2px;
}

.art_apresentacao p {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 40px 0px;
}

button {
    width: 160px;
    background-color: #803dff;
    padding: 15px 10px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 1rem;

}

.about:hover {
    box-shadow: inset 0 0 1em rgb(163, 138, 238);
}

/*-------Fim da section apresentação---------*/

/* ----------- Footer ---------------*/

.footer {
    list-style: none;
    background-color: #504f50;
    padding: 58px 0;
    margin: -2rem;
    margin-bottom: -71px;
    margin-top: 6rem;
    width: auto;
    height: 270px;
    margin-right: 0rem;
}

.footer .color {
    background-color: #3d3d3d;
    padding: 113px 0;
    margin-top: -18px;
    height: 101px;
}

.cont-name {
    color: rgb(204, 201, 201);
    margin: 3rem;
    margin-top: -2rem;

}

.cont-name p {
    margin-top: -30px;
    font-size: 9px;
}


.cont-rede-social {
    margin-bottom: 2rem;
    list-style: none;
    text-align: center;
    align-items: center;
    margin: 0.3rem;
    font-size: 15px;
    line-height: 20px;

}

.cont-rede-social .segue {
    color: rgb(204, 201, 201);
    margin: 3rem;
    margin-top: -63px;
    font-size: 12px;
    margin-left: 86px;
}

.cont-rede-social .rede {
    margin-top: -35px;
    margin-bottom: 54px;
    margin-left: 50px;
    justify-items: center;
}

.cont-rede-social .rede a {
    color: #803dff;
    font-size: 12px;
}

.cont-rede-social .rede :hover {
    color: #9864fa;
}

/*------- post-filter ---------*/
.post-container {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    text-align-last: justify;

}

.post-container button {
    border: none;
    cursor: pointer;
    background: #000;
    color: #ffffff;
    display: inline-flex;
    border: 1px solid #000;
    padding: 10px;
}

.post-container .filter-item {
    display: flex;
    column-gap: 4rem;
    margin-top: 1rem;
    align-content: space-between;
    font-size: 15px;

}

.filter-item:hover {
    background-color: #803dff;
    color: rgb(255, 255, 255);

}

.filter-item#all {
    margin-left: 76px;
    margin-top: 10px;
    width: 53px;
    height: 51px;
    margin-bottom: -62px;
    text-align: center;
}

.filter-item#front {
    margin-left: 152px;
    margin-top: 10px;
    width: 110px;
    height: 56px;
    text-align: center;
    margin-bottom: -65px;
}

.filter-item#back {
    margin-left: 274px;
    margin-top: -2px;
    margin-bottom: -119px;
    margin-top: 10px;
    width: 112px;
    height: 55px;
}

.filter-item#mobile {
    margin-left: 401px;
    margin-top: 62px;
    margin-bottom: -55px;
    width: 83px;
    height: 55px;
    text-align: center;
}

.filter-item#design {
    margin-left: 504px;
    margin-top: -28px;
    width: 121px;
    height: 51px;
}

button .filter-item {
    padding: 10px 0px;
    font-size: 10px;
    justify-content: baseline;
}




/*------- Post ---------*/

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box {
    background: #000;
    box-shadow: 0 4px 14px hsl(355deg, 25% 10% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 30px;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #803dff;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
    color: #fff;
}

.post-desciption {
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #803dff;
}

.profile-name {
    color: #fff;
}

/*-------Texto-1 ---------*/

.text-1 {
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
    color: #803dff;
    width: 100%;
}