/*--------------Configurações gerais-----------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{    
    background-color: black;
}

/*--------------início do cabeçalho--------------*/

.cabecalho{
    height: 300px;
    width: 100%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.logo img {
    margin-right: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
    z-index: 5;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
}
nav ul li a:hover{
    color: #803dff;
    transition: .3s;
}

/*---------------Fim do cabeçalho------------------*/

/*------------início da section apresentação---------*/

.art_apresentacao{
    width: 90vw;
    margin: auto;
}
.art_apresentacao h1{
    font-size: 140px;
    color: #3c3c3c;
    font-weight: 800;
    line-height: 170px;
}
span{
    color: white;
    letter-spacing: 2px;
}
.art_apresentacao p{
    color: #737373;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 40px 0px;
}
button{
    width: 160px;
    background-color: #803dff;
    padding: 12px 10px;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.4s;
}
button img{
    width: 35px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-------Fim da section apresentação---------*/

/*-------Texto- 1 ---------*/

.text-2 {
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
    color:#803dff;
    width: 100%;
}
    