*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.logo{
    width: 140px;
    height: auto;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
    z-index: 5;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
}
nav ul li a:hover{
    color: #803dff;
    transition: .3s;
}
.main-text{
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
}
.main-text h1{
    font-size: 140px;
    color: #3c3c3c;
    font-weight: 800;
    line-height: 170px;
}
span{
    color: white;
    letter-spacing: 2px;
}
.main-text p{
    color: #737373;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 40px 0px;
}
button{
    width: 160px;
    background-color: #803dff;
    padding: 12px 10px;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.4s;
}
button img{
    width: 35px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-img{
    position: fixed;
    width: 50%;
    height: 100%;bottom: 0;
    right: 0;
    text-align: right;
}
.main-img img{
    height: 89%;
}